@model FormDemo.Models.Pet

<!-- gives us access to enum. Along with all of the other things in the models.-->
@using FormDemo.Models 

<form asp-controller="Home" asp-action="Update" method="post">
	<label>
		<span>Type of animal</span>
		<select asp-for="@Model.Type" asp-items="Html.GetEnumSelectList<PetType>()"></select>
	</label>

	<label>
		<span>Name</span>
		<input asp-for="@Model.Name"/>
	</label>
	<label>
		<span>Owner</span>
		<input asp-for="@Model.Owner" />
	</label>

	<label>
		<span>Pet Age</span>
		<input asp-for="@Model.Age" />
	</label>

	<input type="hidden" name="Id" value="@Model.Id"/>
	<button type="submit">Save</button>
</form>
