@page
@model DoNotFret.Pages.CartModel
@{
}

<h2 class="cart-title">Cart</h2>

<div id="link-container">
	<a class="navLinks" asp-page="/Index">Home</a>
	@if (Model.Instruments != null)
    {
		<div id="cardContainer">

		@foreach(var inst in Model.Instruments)
        {
			<div class="cart-list">
				<h4 class="cart-item-title">@inst.</h4>
				<h3 class="cart-item-type">@inst.InstrumentType</h3>
				<ul>
				<li class="list-items">@inst.Brand</li>
				<li class="list-items">@inst.Material</li>
				<li class="list-items">@inst.Description</li>
				</ul>
			</div>
        }

		</div>
    }
</div>