@page
@model DoNotFret.Pages.IndexModel
@{
}

<h1 class="mainTitleText">User Home</h1>
@if (User.Identity.IsAuthenticated)
{<h1 class="mainTitleText">Welcome @ViewData["username"]</h1>}

<div id="link-container">
	<a class="navLinks" asp-page="/Index">Home</a>
	@if (User.Identity.IsAuthenticated == false)
	{
		<a class="navLinks" href="/userlogin">Sign In</a>
		<a class="navLinks" href="/usersignup">Register</a>
		<a class="navLinks" asp-controller="Home" asp-action="HomeIndex">Admin Page</a>
	}
	@if (User.Identity.IsAuthenticated)
	{
		<a class="navLinks" asp-controller="Home" asp-action="HomeIndex">Admin Page</a>
		<vc:cart-count></vc:cart-count>
	}
	<!--<select asp-for"Input.Mode" asp-items="Html.GetEnumSelectList<ColorScheme>()"</select> -->
</div>

@if (Model.Instruments != null)
{
	<div id="cardContainer">

		@foreach (var inst in Model.Instruments)
		{
			<div class="list-element">
				<form method="post">
					<h4 id="listTitle">@inst.InstrumentType</h4>
					<ul>
						<li class="listItems">@inst.Brand</li>
						<li class="listItems">@inst.Material</li>
						<li class="listItems">@inst.Description</li>
					</ul>
					<input asp-for="Input.Id" type="hidden" name="Id" value="@inst.Id" />
					@if (User.Identity.IsAuthenticated)
                    {
						<button id="listButton" type="submit">Add to Cart</button>
                    }
					<br />
				</form>
			</div>
		}
	</div>
}