@model DoNotFret.Models.Instrument

@using DoNotFret.Models

<h2>Add a new instrument</h2>

<form asp-controller="Home" asp-action="Add" method="post">
	<label>
		<span>Type</span>
		<select asp-for="@Model.InstrumentType" asp-items="Html.GetEnumSelectList<InstrumentType>()"></select>
	</label>

	<label>
		<span>Instrument Name</span>
		<input asp-for="@Model.Name" />
	</label>

	<label>
		<span>Brand</span>
		<input asp-for="@Model.Brand" />
	</label>

	<label>
		<span>Material</span>
		<input asp-for="@Model.Material" />
	</label>

	<label>
		<span>Description</span>
		<textarea asp-for="@Model.Description"></textarea>
	</label>

	<button type="submit">Save</button>
</form>