@model DoNotFret.Models.Instrument

@using DoNotFret.Models

<h2 class="mainTitleText">Edit the @Model.CategoryId</h2>
<div id="link-container">
	<a class="navLinks" asp-controller="Home" asp-action="Index">Home</a>
</div>

<form asp-controller="Home" asp-action="Update" method="post">
	<label>
		<span>Type</span>
		<input asp-for="@Model.CategoryId" />
	</label>

	<label>
		<span>Brand</span>
		<input asp-for="@Model.Brand" />
	</label>

	<label>
		<span>Material</span>
		<input asp-for="@Model.Material" />
	</label>

	<label>
		<span>Description</span>
		<textarea asp-for="@Model.Description"></textarea>
	</label>

	<input type="hidden" name="Id" value="@Model.Id" />

	<button type="submit">Save</button>
</form>

