@model IEnumerable<DoNotFret.Models.Instrument>

<h1>Home Page</h1>
<a asp-controller="Home" asp-action="Add">Add an instrument to inventory</a>
	@foreach (var music in Model)
	{
	<form asp-controller="Home" asp-action="Delete" asp-route-id="@music.Id" method="get">		
	<h4><a asp-controller="Home" asp-action="Edit" asp-route-id="@music.Id">@music.Name</a></h4>
<ul>
		<li>@music.InstrumentType</li>
		<li>@music.Brand</li>
		<li>@music.Material</li>
		<li>@music.Description</li>
</ul>
		<input type="hidden" name="Id" value="@music.Id" />
		<button type="submit" >Delete</button>
<br />
	</form>
	}